**Author**: Yang Ju (yangju90@berkeley.edu)
**Date**: 04/18/2016
**Description**: This script merges the data from stage 1 of the analysis - drought index, mortality, and

In [1]:
import pandas as pd
import numpy as np
mortality = pd.read_csv(r'../data/mortality/mortality_cleaned.csv')

In [2]:
drought_3year = pd.read_csv(r'../data/drought_monitor/drought_indicator_3year_matrics_reformat.csv')
drought_3year.head()

    GISJOIN  year  drought_3year
0  G0100010  2016       0.000000
1  G0100010  2015       0.666487
2  G0100010  2014       6.920886
3  G0100010  2013      26.763541
4  G0100010  2012      29.304187

In [3]:
drought_1year = pd.read_csv(r'../data/drought_monitor/drought_indicator_1year_matrics_reformat.csv')
drought_1year.head()

    GISJOIN  year  drought_1year
0  G0100010  2016       0.000000
1  G0100010  2015       0.000000
2  G0100010  2014       0.000000
3  G0100010  2013       0.666487
4  G0100010  2012       6.254399

In [4]:
drought_5year = pd.read_csv(r'../data/drought_monitor/drought_indicator_5year_matrics_reformat.csv')
drought_5year.head()

    GISJOIN  year  drought_5year
0  G0100010  2016       6.920886
1  G0100010  2015      26.763541
2  G0100010  2014      29.970673
3  G0100010  2013      29.970673
4  G0100010  2012      56.162279

In [5]:
unempolyment = pd.read_csv(r'../data/unemployment/unemploymentClean.csv')
unempolyment.head()

C:\Users\Yang\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2902: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,LAUS_CODE,state_FIPS,county_FIPS,countyState,year,laborForce,employed,unemployed,unemploymentRate
0,CN0100100000000,1,1,"Autauga County, AL",2000,"21,720","20,846",874,4.0
1,CN0100300000000,1,3,"Baldwin County, AL",2000,"69,533","66,971","2,562",3.7
2,CN0100500000000,1,5,"Barbour County, AL",2000,"11,373","10,748",625,5.5
3,CN0100700000000,1,7,"Bibb County, AL",2000,"8,565","8,111",454,5.3
4,CN0100900000000,1,9,"Blount County, AL",2000,"25,106","24,231",875,3.5

In [6]:
lookup_table = pd.read_csv(r'../data/county_ID_lookup_table.csv')
lookup_table.head()

,STATEFP10,COUNTYFP10,STATE_NAME10,COUNTY_NAME10,NAMELSAD10,GISJOIN
0,2,13,Alaska,Aleutians East,Aleutians East Borough,G0200130
1,2,16,Alaska,Aleutians West,Aleutians West Census Area,G0200160
2,28,107,Mississippi,Panola,Panola County,G2801070
3,28,101,Mississippi,Newton,Newton County,G2801010
4,28,27,Mississippi,Coahoma,Coahoma County,G2800270

In [7]:
final = mortality.merge(drought_3year, left_on=['GISJOIN','year'], right_on=['GISJOIN','year'], how='inner')
final = final.merge(drought_5year, left_on=['GISJOIN','year'], right_on=['GISJOIN','year'], how='inner')
final = final.merge(drought_1year, left_on=['GISJOIN','year'], right_on=['GISJOIN','year'], how='inner')
final = final.merge(lookup_table,on = 'GISJOIN',how = 'inner')
final = final.merge(unempolyment, left_on = ['STATEFP10','COUNTYFP10','year'],right_on = ['state_FIPS','county_FIPS','year'],how ='inner')
final = final.drop(['LAUS_CODE','state_FIPS','county_FIPS','NAMELSAD10'],axis = 1)
final.to_csv(r'../data/data_combined.csv')

In [8]:
final.head()

,GISJOIN,year,deaths_65+_b,rate_crd_65+_b,rate_adj_65+_b,deaths_u5_b,rate_crd_u5_b,rate_adj_u5_b,deaths_all_b,rate_crd_all_b,...,drought_1year,STATEFP10,COUNTYFP10,STATE_NAME10,COUNTY_NAME10,countyState,laborForce,employed,unemployed,unemploymentRate
0,G0100010,2004,254,4894.0,5492.7,NaN,NaN,NaN,377,779.5,...,0.000000,1,1,Alabama,Autauga,"Autauga County, AL","23,218","22,103","1,115",4.8
1,G0100010,2005,307,5713.8,6686.2,NaN,NaN,NaN,454,913.9,...,0.000000,1,1,Alabama,Autauga,"Autauga County, AL","23,949","23,037",912,3.8
2,G0100010,2006,298,5255.7,6168.0,NaN,NaN,NaN,457,890.4,...,8.999964,1,1,Alabama,Autauga,"Autauga County, AL","24,398","23,585",813,3.3
3,G0100010,2007,263,4495.0,5145.9,NaN,NaN,NaN,406,774.7,...,34.713433,1,1,Alabama,Autauga,"Autauga County, AL","24,383","23,577",806,3.3
4,G0100010,2008,309,5102.4,5704.7,10,NaN,NaN,457,857.8,...,26.858093,1,1,Alabama,Autauga,"Autauga County, AL","24,687","23,420","1,267",5.1